{% extends 'default.html.twig' %}

{% block main %}
    <div class="form">
        {{ form_start(outingForm) }}
        {{ form_row(outingForm.name) }}
        {{ form_row(outingForm.startDateTime) }}
        {{ form_row(outingForm.duration) }}
        {{ form_row(outingForm.entryDeadline) }}
        {{ form_row(outingForm.maxNumberEntries) }}
        {{ form_row(outingForm.description) }}
        {{ form_row(outingForm.campus) }}
        {{ form_row(outingForm.place) }}

        {% embed 'place/add.html.twig' %}
        {% endembed %}

        {#  Show these fields after selecting a Place#}
        {# {{ form_row(outingForm.street) }}
        {{ form_row(outingForm.zipCode) }}
        {{ form_row(outingForm.city) }}
        {{ form_row(outingForm.latitude) }}
        {{ form_row(outingForm.longitude) }}#}

        {{ form_row(outingForm._token) }}
        <button type="submit">Enregistrer</button>
        {{ form_rest(outingForm) }}
        {{ form_end(outingForm) }}
    </div>

{% endblock %}

