{% extends 'default.html.twig' %}

{% block main %}
    <div class="container  modify-block">
        <div class="row border rounded">
            <div class="monProfil text-center m-md-2">
                <h1>Créer une sortie</h1>
                {{ form_start(outingForm) }}
                <div class="info">
                    <table class="table">
                        <tbody>
                        <tr>
                            <td>{{ form_row(outingForm.name) }}</td>
                        </tr>
                        <tr>
                            <td>{{ form_row(outingForm.startDateTime) }}</td>
                        </tr>
                        <tr>
                            <td>{{ form_row(outingForm.duration) }} minutes</td>
                        </tr>
                        <tr>
                            <td>{{ form_row(outingForm.entryDeadline) }}</td>
                        </tr>
                        <tr>
                            <td>{{ form_row(outingForm.maxNumberEntries) }}</td>
                        </tr>
                        <tr>
                            <td>{{ form_row(outingForm.description) }}</td>
                        </tr>
                        <tr>
                            <td>{{ form_row(outingForm.campus) }}</td>
                        </tr>
                        <tr>
                            <td>{{ form_row(outingForm.place) }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="d-inline-flex offset-4 mb-2">
                <button class="btn btn-primary mr-3 ml-3" type="submit">Enregistrer</button>
                <button class="btn btn-secondary ml-3" type="button"><a href="{{ path('outing_search') }}">Retour</a></button>
                {{ form_row(outingForm._token) }}
                {{ form_rest(outingForm) }}
            </div>
                {{ form_end(outingForm) }}
            <div class="d-inline-flex offset-4 mb-2">
                <div class="addPlace text-center mr-3">
                    <h5>Ajouter un Lieu</h5>
                    {% embed 'place/add.html.twig' %}
                    {% endembed %}
                </div>
            </div>



        </div>
    </div>

{% endblock %}

