{#  {% extends 'default.html.twig' %}

{% block title %}
    {{ parent() }} | Outing List
{% endblock %}

{% block main %}

    {% embed 'outing/search.html.twig' %}
    {% endembed %}#}

    <table class="table">
        <thead>
        <tr>
            <th scope="col">Nom de la sortie</th>
            <th scope="col">Date de la sortie</th>
            <th scope="col">Clôture</th>
            <th scope="col">Inscrits/Places</th>
            <th scope="col">Etat</th>
            <th scope="col">Inscrit</th>
            <th scope="col">Organisateur</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for outing in outingList %}
        <tr>
                <th scope="row">{{ outing.name }}</th>
                <td>{{ outing.startDateTime | date('d/m/Y H:i') }}</td>
                <td>{{ outing.entryDeadline | date('d/m/Y')}}</td>
                <td>{{ outing.participants | length }} / {{ outing.maxNumberEntries }}</td>
                <td>{{ outing.state.label }}</td>
                <td> X </td>
                <td><a href="{{ path('user_profile', {id: outing.organizer.id}) }}">{{ outing.organizer.username }}</a></td>
                <td></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{#
{% endblock %}#}

