{% extends 'default.html.twig' %}

{% block main %}

<div class="container-fluid h-100 ">
    <div class="container block">
        <div class="row border rounded">
            <div class="monProfil text-center m-md-2">
                <h1>modifier une sortie</h1>
                {{ form_start(modifyForm) }}
                <div class="info">
                    <table class="table">
                        <tbody>
                        <tr>
                            <td>{{ form_row(modifyForm.name) }}</td>
                        </tr>
                        <tr>
                            <td>{{ form_row(modifyForm.startDateTime) }}</td>
                        </tr>
                        <tr>
                            <td>{{ form_row(modifyForm.duration) }} minutes</td>
                        </tr>
                        <tr>
                            <td>{{ form_row(modifyForm.entryDeadline) }}</td>
                        </tr>
                        <tr>
                            <td>{{ form_row(modifyForm.maxNumberEntries) }}</td>
                        </tr>
                        <tr>
                            <td>{{ form_row(modifyForm.description) }}</td>
                        </tr>
                        <tr>
                            <td>{{ form_row(modifyForm.campus) }}</td>
                        </tr>
                        <tr>
                            <td>{{ form_row(modifyForm.place) }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            {{ form_row(modifyForm._token) }}
            <div class="divBoutton">
                <div class="boutton">
                    <button class="btn btn-primary" type="submit">Enregistrer</button>
                </div>
                {{ form_rest(modifyForm) }}
                {{ form_end(modifyForm) }}
                <div class="boutton">
                    <button class="btn btn-secondary" type="button"><a href="{{ path('outing_details', {id: outing.id}) }}">Annuler</a></button>
                </div>
                {% embed 'place/add.html.twig' %}
                {% endembed %}
            </div>
        </div>
    </div>
</div>
{% endblock %}