{% extends 'default.html.twig' %}

{% block main %}
    <div class="form">
        {{ form_start(modifyForm) }}
        {{ form_row(modifyForm.name) }}
        {{ form_row(modifyForm.startDateTime) }}
        {{ form_row(modifyForm.duration) }} minutes
        {{ form_row(modifyForm.entryDeadline) }}
        {{ form_row(modifyForm.maxNumberEntries) }}
        {{ form_row(modifyForm.description) }}
        {{ form_row(modifyForm.campus) }}
        {{ form_row(modifyForm.place) }}

        {{ form_row(modifyForm._token) }}
        <button class="btn btn-primary" type="submit">Enregistrer</button>
        {{ form_rest(modifyForm) }}
        {{ form_end(modifyForm) }}
        <button class="btn btn-secondary" type="button"><a href="{{ path('outing_details', {id: outing.id}) }}">Annuler</a></button>
    </div>
    {% embed 'place/add.html.twig' %}
    {% endembed %}
{% endblock %}