{% extends 'default.html.twig' %}

{% block title %}
    {{ parent() }} | Outing List
{% endblock %}

{% block main %}
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <div class="welcomeInfo text-right">
                <div id="dateDuJour">
                    <p><i class="far fa-calendar-alt"></i> Date du jour: {{ "now" | date('d/m/Y') }} </p>
                </div>
                <div id="participant">
                    <p><i class="fas fa-user"></i> Participant: {{ app.user.username }} </p>
                </div>
            </div>
        {% endif %}

        <div class="container col-md-12 mobile">
            <h1>Filtrer les sorties</h1>
            {{ form_start(searchForm) }}
                <div class="row">
                    <div class="filters_1 col-md-5 ">
                        <div id="campus row ">
                            {{ form_row(searchForm.campus) }}
                        </div>
                        <div id="searchbar row">
                            {{ form_row(searchForm.q ) }}
                        </div>
                        <div id="datesFilter row">
                            <div id="dateMin">
                                {{ form_row(searchForm.minDate) }}
                            </div>
                            <div id="dateMax">
                                {{ form_row(searchForm.maxDate) }}
                            </div>
                        </div>
                    </div>
                    <div class="filters_2 col-md-5">
                        <div id="checkbox ">
                            <ul class="list-group">
                                <li class="check">{{ form_row(searchForm.organizer) }}</li>
                                <li class="check">{{ form_row(searchForm.pastOutings) }}</li>
                                <li class="check">{{ form_row(searchForm.subscribed) }}</li>
                                <li class="check">{{ form_row(searchForm.unsubscribed) }}</li>
                            </ul>
                        </div>
                    </div>
                    <div class ="filters_btn col-md-2">
                        <div id="rechercher">
                            <button class="btn btn-success" type="submit">Rechercher</button>
                        </div>
                    </div>
                </div>
            {{ form_end(searchForm) }}
        </div>
        {% embed 'outing/list.html.twig' %}
        {% endembed %}

{% endblock %}
