<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    <title>{% block title %}Sortir{% endblock %}</title>
</head>
<body>
    {% block navbar %}
        <header>
            <nav id="navbar" class="navbar navbar-expand">
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav">
                        <li class="nav-item"><a class="nav-link" href="{{ path('home') }}">Accueil</a></li>
                        {% if (is_granted('IS_AUTHENTICATED_REMEMBERED')) %}
                            {% if is_granted('ROLE_ADMIN') %}
                                <li class="nav-item"><a class="nav-link" href="">Villes</a></li>
                                <li class="nav-item"><a class="nav-link" href="">Campus</a></li>
                            {% endif %}
                            <li class="nav-item"><a class="nav-link" href="{{ path('user_profile', {id: app.user.id}) }}">Mon profil</a></li>
                            <li class="nav-item"><a class="nav-link" href="{{ path('app_logout') }}">Se déconnecter</a></li>
                        {% else %}
                            <li class="nav-item"><a class="nav-link" href="{{ path('app_login') }}">Se connecter</a></li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </header>
    {% endblock %}
    {% block main %}

    {% endblock %}
</body>
</html>

