{% extends 'default.html.twig' %}

{% block title %} {{ parent() }} Modify Profile{% endblock %}

{% block main%}

    <div class="container h-50 modify-block">
        <div class="row border rounded">
            <div class="monProfil text-center m-md-2">
                <h1>Modifier Profil</h1>
                {{ form_start(modifyForm) }}
                <div class="info">
                    <table class="table">
                        <tbody>
                        <tr>
                            <td>{{ form_row(modifyForm.username) }}</td>
                        </tr>
                        <tr>
                            <td>{{ form_row(modifyForm.firstName) }}</td>
                        </tr>
                        <tr>
                            <td>{{ form_row(modifyForm.lastName) }}</td>
                        </tr>
                        <tr>
                            <td>{{ form_row(modifyForm.phoneNumber) }}</td>
                        </tr>
                        <tr>
                            <td>{{ form_row(modifyForm.email) }}</td>
                        </tr>
                        <tr>
                            <td>{{ form_row(modifyForm.newPassword) }}</td>
                        </tr>

                        <tr>
                            <td>{{ form_row(modifyForm.campus) }}</td>
                        </tr>

                        <tr>
                            <td>{{ form_row(modifyForm.picture) }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="d-inline-flex offset-5 mb-2">
                <div>
                    <button class="btn btn-info btnModifyPage"  type="submit">Modifier</button>
                </div>
                <div>
                    <button type="button" class="btn btn-secondary "><a href="{{ path('user_profile', {id: user.id}) }}">Retour</a></button>
                </div>
            </div>

            {{ form_end(modifyForm) }}
        </div>
    </div>



{% endblock %}



