{% extends 'default.html.twig' %}

{% block title %} {{ parent() }} Modify Profile{% endblock %}

{% block main%}

<div class="container-fluid h-100 ">
    <div class="container block">
        <div class="row border rounded">
            <div class="monProfil text-center m-md-2">
                <h1>Modifier Profil</h1>
                {{ form_start(modifyForm) }}
                <div class="info">
                    <table class="table">
                        <tbody>
                        <tr>
                            <td class="col-md-4">{{ form_row(modifyForm.username) }}</td>
                        </tr>
                        <tr>
                            <td class="col-md-12">{{ form_row(modifyForm.firstName) }}</td>
                        </tr>
                        <tr>
                            <td>{{ form_row(modifyForm.lastName) }}</td>
                        </tr>
                        <tr>
                            <td>{{ form_row(modifyForm.phoneNumber) }}</td>
                        </tr>
                        <tr>
                            <td>{{ form_row(modifyForm.email) }}</td>
                        </tr>
                        <tr>
                            <td>{{ form_row(modifyForm.newPassword) }}</td>
                        </tr>

                        <tr>
                            <td>{{ form_row(modifyForm.campus) }}</td>
                        </tr>

                        <tr>
                            <td>{{ form_row(modifyForm.picture) }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <button class="btn btn-info offset-5" type="submit">Modifier</button>
            <button type="button" class="btn btn-secondary"><a href="{{ path('user_profile', {id: user.id}) }}">Annuler</a></button>
            {{ form_end(modifyForm) }}
        </div>
    </div>
</div>



    


    {#  <div id="modifyProfile" >
        <div id="pseudo">
            <label for="pseudo">Pseudo: </label>
            <input type="text" name="_username" id="pseudo"/>
        </div>
        <div id="prenom">
            <label for="prenom">Prénom: </label>
            <input type="text" name="firstName" id="prenom"/>
        </div>
        <div id="nom">
            <div id="nom">
                <label for="nom">Nom: </label>
                <input type="text" name="lastName" id="nom"/>
            </div>
        </div>
        <div id="telephone">
            <div id="telephone">
                <label for="telephone">Téléphone: </label>
                <input type="tel" name="phoneNumber" id="telephone"/>
            </div>
        </div>
        <div id="email">
            <div id="email">
                <label for="email">Email: </label>
                <input type="email" name="email" id="email"/>
            </div>
        </div>
        <div id="currentPassword">
            <div id="currentPassword">
                <label for="currentPassword">Mot de passe actuel: </label>
                <input type="password" name="currentPassword" id="currentPassword"/>
            </div>
        </div>
        <div id="newPassword">
            <div id="newPassword">
                <label for="newPassword">Nouveau mot de passe: </label>
                <input type="password" name="newPassword" id="newPassword"/>
            </div>
        </div>
        <div id="confirmNewPassword">
            <div id="confirmNewPassword">
                <label for="confirmNewPassword">Confirmation: </label>
                <input type="password" name="confirmNewPassword" id="confirmNewPassword"/>
            </div>
        </div>
        <div id="campus">
            <div id="campus">
                <label for="campus">Campus: </label>
                <select id="campus" name="campus"></select>
            </div>
        </div>
    </div>#}
{% endblock %}



