{% extends 'default.html.twig' %}
{%  block main %}



    <div class="container h-50 block">
        <div class="row border rounded">
            <div class="monProfil text-center m-md-2">
                {% if app.user == user %}
                    <h1>Mon Profil</h1>
                {% else %}
                    <h1>{{ user.username }}</h1>
                {% endif %}
                {% if profilePicture is defined %}
                    {% if profilePicture is null %}
                        <img class="mb-3" src="{{ asset('uploads/default_avatar.jpg') }}" width="250">
                    {% else %}
                        <img class="mb-3" src="{{ asset('uploads/'~ profilePicture) }}" width="250">
                    {% endif %}
                {% endif %}
                <div class="info">
                    <table class="table">
                        <tbody>
                        <tr>
                            <th scope="row">Pseudo</th>
                            <td>{{ user.username }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Prénom</th>
                            <td>{{ user.firstName }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Nom</th>
                            <td>{{ user.lastName }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Email</th>
                            <td>{{ user.email }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Campus</th>
                            <td>{{ user.campus.name }}</td>
                        </tr>
                        </tbody>
                    </table>

                    <div class="boutons">

                        {% if user.id == app.user.id %}
                            <button type="button" class="btn btn-primary "><a href="{{ path('user_modify', {id: user.id}) }}">Modifier</a></button>
                        {% endif %}
                        <button type="button" class="btn btn-secondary n"><a href="{{ path('outing_search') }}">Retour</a></button>

                    </div>
            </div>
        </div>
    </div>


{% endblock %}
{% block title %}{{ parent()}} Profile{% endblock %}