{% extends 'default.html.twig' %}
{%  block main %}
    {% if app.user == user %}
        <h1>Mon Profil</h1>
    {% else %}
        <h1>{{ user.username }}</h1>
    {% endif %}

{% if profilePicture is defined %}
    {% if profilePicture is null %}
        <img src="{{ asset('uploads/default_avatar.jpg') }}" width="250">
    {% else %}
        <img src="{{ asset('uploads/'~ profilePicture) }}" width="250">
    {% endif %}
{% endif %}
    <div id="showProfile">
       <div id="pseudo">
           <label > Pseudo:</label>
           <p>{{ user.username }}</p>
       </div>
        <div id="prenom">
            <label > Prénom:</label>
            <p>{{ user.firstName }}</p>
        </div>
        <div id="nom">
            <label > Nom:</label>
            <p>{{ user.lastName}}</p>
        </div>
        <div id="email">
            <label > Email:</label>
            <p>{{ user.email }}</p>
        </div>
        <div id="campus">
            <label > Campus:</label>
            <p>{{ user.campus.name }}</p>
        </div>

        {% if user.id == app.user.id %}
        <button type="button" class="btn btn-primary"><a href="{{ path('user_modify', {id: user.id}) }}">Modifier</a></button>
        {% endif %}
        <button type="button" class="btn btn-secondary"><a href="{{ path('outing_search') }}">Back</a></button>
    </div>

{% endblock %}
{% block title %}{{ parent()}} Profile{% endblock %}